<FlexboxLayout>
    <Image src="res://logo_versasaude"></Image>

    <StackLayout [formGroup]="formLogin">
        <PickerField hint="Selecione um município" [items]="firebaseService.instancias" [pickerTitle]="'Municípios'"
            textField="text" valueField="id" formControlName="instancia" [ngClass]="invalidField('instancia')">
            <ng-template let-item="item">
                <GridLayout columns="auto, *" rows="auto, *">
                    <Label [text]="item.text" col="0" class="item-template-label red-label"
                        marginBottom="20"></Label>
                </GridLayout>
            </ng-template>
        </PickerField>

        <TextField keyboardType="integer" hint="Digite seu usuário" formControlName="usuario"
            [ngClass]="invalidField('usuario')">
        </TextField>
        <TextField secure="true" hint="Digite sua senha" formControlName="senha"
            [ngClass]="invalidField('senha')">
        </TextField>

        <Button text="Entrar" (tap)="handleSignIn()" [isEnabled]="!formLogin.valid"></Button>

        <Image src="res://logo_versatec" width="100" marginTop="24"></Image>
    </StackLayout>
</FlexboxLayout>
